<div class="h-100 p-5 text-white  rounded-3">
    <h2>Detalle</h2>
    <table class="table">
        <tbody>
            <tr>
                <td>{{repartidor.nombre}}</td>

            </tr>
            <tr>
                <td>{{repartidor.edad}}</td>
            </tr>
            <tr>
                <td>{{repartidor.dni}}</td>
            </tr>
            <tr>
                <td>{{repartidor.pizzas}}</td>
            </tr>
            <tr>
                <td>{{repartidor.unidad}}</td>
            </tr>
        </tbody>

    </table>
</div>
